.box-logo{
  margin-left: 200px;
  background-color: #fafff1;
  width: 80px;
  height: 80px;
}


@media screen and (max-width: 1401px) {
  .box-logo{
    margin-left: 40px;
  }
}

@media screen and (max-width: 1023px) {
  .box-logo{
    width: 50px;
  }
}

@media screen and (max-width: 768px) {
  .box-logo{
    display: none;
  }
}
