.review__container{
    display: grid;
    grid-template-columns: 50px 100px 410px 106px 454px;
    grid-template-rows: 50px 200px 40px 50px 110px 40px 50px 150px;
    grid-template-areas:
    "user__pic_first user__name_first . . pic"
    ". text_olga text_first . pic"
    ". . . . pic"
    "user__pic_second user__name_second . . pic"
    ". text_artem text_second . pic"
    ". . . . pic"
    "user__pic_third user__name_third . . pic"
    ". text_anna text_third . pic";

    margin-bottom: 100px;
    margin-left: 240px;
      margin-right: 240px;
}


@media screen and (max-width: 1281px) {
    .review__container{
      margin-left: 80px;
      margin-right: 80px;
    }
  }
