.master-class__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

@media screen and (max-width: 1599px) {
  .master-class__container {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .master-class__container{
    margin-left: 72px;
    margin-right: 72px;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .master-class__container{
    margin-left: 16px;
    margin-right: 16px;
  }
}
