.services__container {
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 330px 330px;
    gap: 100px 20px;
    grid-template-areas:
        "composition . items"
        ". help .";

    margin-left: 285px;
    margin-right: 285px;
    margin-top: 40px;
    margin-bottom: 40px;
}
