.services__container {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1599px) {
  .services__container{
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 1029px) {
  .services__container{
    flex-direction: column;
    min-height: 1050px;
    max-height: 1050px;
  }
}
