.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
  line-height: 30px;
}

@media screen and (max-width: 1280px) {
  .footer__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width:480px) {
  .footer__container{
    padding-left: 72px;
    padding-right: 72px;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 15px;
  }
}

@media screen and (max-width:320px) {
  .footer__container{
    padding-left: 16px;
    padding-right: 16px;
  }
}
