.services__items{
    grid-area: items;
    position: relative;
    width: 330px;
    height: 330px;
}

.services__items:hover .services__items_picture{
  filter: blur(6px);
}

.services__items:hover .services__items_picture_link{
  filter: blur(0);
  z-index: 1;
}
