.header__poster{
  height: 340px;
  margin-top: 230px;
  background-color: #fafff1;
  max-width: 820px;
  min-width: 820px;
  max-height: 230px;
  min-height: 230px;
  display: flex;
  align-items: center;
}
