.hold__picture{
  display: flex;
  background-image: url('../../../images/services/hold.png');
  background-size: cover;
  background-position: center center;
  max-width: 350px;
  min-width: 350px;
  max-height: 500px;
  min-height: 500px;
}
