.footer__adress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}

@media screen and (max-width:768px) {
  .footer__adress {
    max-width: 218px;
  }
}

@media screen and (max-width:480px) {
  .footer__adress {
    flex-direction: row;
    min-width: 300px;
    padding-bottom: 5px;
  }
}
