.header__lists{
  display: flex;
  align-items: center;
  min-height: 48px;
  list-style: none;
  margin-right: 40px;
}


@media screen and (max-width: 919px){
  .header__lists{
    display: none;
  }
}
