.peresadka__text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align:left;
  margin-right: 50px;
}

@media screen and (max-width:1024px) {
  .peresadka__text {
    margin-right: 0;
    align-items: center;
    text-align: center;
  }
}
