.online-consultation__picture{
  display: flex;
  background-image: url('../../../../images/services/online_cons.png');
  background-size: cover;
  max-width: 350px;
  min-width: 350px;
  max-height: 500px;
  min-height: 500px;

}
